# mod_rewriteが有効な場合だけ以降の処理を行う
# mod_rewrite -> Apacheのモジュールの１つ。URLの書き換えを行なってくれる
RewriteEngine On

# 書き換えの設定が↓のRewriteCond
# %{...}はApacheで用意されている変数
# 「今アクセスしてきたURLに対応したサーバ上のパスに該当ディレクトリorファイルが存在しない場合」という条件を示している
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 条件にマッチした場合、下記のルールに沿ってURLを書き換える
# QSAはリクエストパラメータも受け取るためのフラグ。LはURL書き換え終了を意味する
RewriteRule ^ index.php [QSA,L]